{% extends 'backBase.html.twig' %}

{% block title %}New Question{% endblock %}

{% block body %}
    <style>
        .form input, .form textarea {
            display: block;
            margin-bottom: 10px;
            border-radius: 20px;
        }


        .form label {
            font-weight: bold;
            font-size: medium;
            display: block;
            margin-bottom: 5px;
            color: white;
        }
        .form {
            width: 80%;
            margin: 0 auto;
            background-color: #001A23;
            padding: 60px;
            border-radius: 20px;
        }

        .upload {
            display: block;
            margin-top: auto;
            margin-bottom: auto;
            border-radius: 20px;
        }

        .btn{
            /*display: block;*/
            margin-top: 10px;
            margin-bottom: auto;
            border-radius: 20px;
            color: white;
            border-color: white;
        }
        .btn:hover {
            background-color: white;
            color: #001A23;
        }

    </style>
    <h1>Create new Question</h1>


    <div class="form">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}} ) }}
        <div class="row">
            <div class="col">
                {{ form_row(form.question, {'attr': {'class': 'form-control custom-class'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.answer, {'attr': {'class': 'form-control custom-class'}}) }}
            </div>
            <div class="col">
                {{ form_row(form.firstPossibleAnswer, {'attr': {'class': 'form-control custom-class'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.secondPossibleAnswer, {'attr': {'class': 'form-control custom-class'}}) }}
            </div>
            <div class="col">
                {{ form_row(form.thirdPossibleAnswer, {'attr': {'class': 'form-control custom-class'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.timer, {'attr': {'class': 'form-control custom-class'}}) }}
            </div>
            <div class="col">
                {{ form_row(form.image, {'attr': {'class': 'form-control custom-class'}}) }}
            </div>
        </div>

        <button class="btn">{{ button_label|default('Add Question') }}</button>

        {% if app.session.flashbag.has('success') %}
            <div class="alert alert-success">
                {% for message in app.session.flashbag.get('success') %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        {% if app.session.flashbag.has('error') %}
            <div class="alert alert-danger">
                {% for message in app.session.flashbag.get('error') %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}


        {{ form_end(form) }}

    </div>

    <a href="{{ path('app_question_index') }}">back to list</a>
{% endblock %}
