{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier le billet</h1>
<style>
    .mt-5{
        margin-top: 50px !important;
        width: 50%;
    }
</style>
<div class="mt-5">
    {{ form_start(form) }}
    {{ form_row(form.prix) }}
    {{ form_row(form.nbrBilletAvailable) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}
</div>
{% endblock %}

