{% extends '/profil/index.html.twig' %}
{% block cardtitle %}Billet edit{% endblock %}
{% block content %}
    <h1>Modifier le billet</h1>
<style>

</style>
<div>
    {{ form_start(form) }}
    {{ form_row(form.prix) }}
    {{ form_row(form.nbrBilletAvailable) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}
</div>
{% endblock %}

