{% extends '/profil/index.html.twig' %}
{% block cardtitle %}Creation des Billets{% endblock %}
{% block content %}
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #ddd;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        a {
            color: blue;
            text-decoration: none;
            margin-right: 5px;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
    <div >
        {{ include('billet/_form.html.twig') }}
    </div>
    <div>
        <table border="2px">
            <thead>
                <tr>
                    <th>code</th>
                    <th>type</th>
                    <th>dateValidite</th>
                    <th>prix</th>
                    <th>nbr de billet</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for b in billets %}
                    <tr>
                        <td>{{ b.code }}</td>
                        <td>{{ b.type }}</td>
                        <td>{{ b.dateValidite ? b.dateValidite|date('Y-m-d') : ''  }}</td>
                        <td>{{ b.prix }}</td>
                        <td>{{ b.nbrBilletAvailable }}</td>
                        <td>
                            <a href="{{ path('app_billet_show', {'id': b.id}) }}">show</a>
                            <a href="{{ path('app_billet_edit', {'id': b.id}) }}">edit</a>
                            <form method="post" action="{{path('app-billet-delete', {'id': b.id}) }}}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ b.id) }}">
                                <button class="dropdown-item"><i class="bx bx-trash me-1"></i> Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}