{% extends '/profil/index.html.twig' %}
{% block cardtitle %}Edit Reservation{% endblock %}
{% block content %}
<div>
    {{ form_start(form, {'attr': {'novalidate':'novalidate'}} ) }}
    {{ form_row(form._token) }}
    {{ form_errors(form) }}
    {{ form_label(form.prenom) }}
    {{ form_widget(form.prenom) }}
    {{ form_errors(form.prenom) }}
    {{ form_label(form.nom) }}
    {{ form_widget(form.nom) }}
    {{ form_errors(form.nom) }}
    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
    {{ form_errors(form.email) }}
    {{ form_label(form.telephone) }}
    {{ form_widget(form.telephone) }}
    {{ form_errors(form.telephone) }}
    {{ form_label(form.address) }}
    {{ form_widget(form.address) }}
    {{ form_errors(form.address) }}
</div>
    <button class="btn my-btn">{{ button_label|default('Enregistrer') }}</button>
    <style>
        .my-btn {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }


    </style>
{% endblock %}
