{% extends is_granted('ROLE_ADMIN') ? 'backBase.html.twig' : 'base.html.twig' %}


{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('frontOffice/assets/css/profil.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<style>
    .app-nav {
        color: #5d6778;
        display: block;
        padding: 0;
        width: 100%
    }

    .app-nav .app-menu {
        margin-bottom: 0
    }

    .app-nav .nav-item {
        display: block;
        color: #5d6778;
        background: #fff
    }

    .app-nav .nav-link {
        display: block;
        padding: .875rem 1rem;
        color: #252930;
        position: relative;
        display: block;
        padding-left: 3rem;
        border-left: 3px solid rgba(0,0,0,0)
    }

    .app-nav .nav-link.active {
        color: #0d42ff;
        background: #e3e5f1;
        border-left: 3px solid #0d42ff;
        font-weight: 500
    }

    .app-nav .nav-link.submenu-toggle.active {
        background: none;
        border-color: rgba(0,0,0,0)
    }

    .app-nav .nav-link:hover {
        color: #0d42ff
    }

    .app-nav .nav-icon {
        position: absolute;
        left: 1rem;
        top: .7rem
    }

    .app-nav .nav-icon .bi {
        width: 1.25rem;
        height: 1.25rem
    }

    .app-nav .submenu-arrow {
        position: absolute;
        right: 1rem;
        top: .7rem;
        color: #828d9f
    }

    .app-nav .submenu-arrow svg {
        width: 14px;
        height: 14px
    }

    .app-nav .submenu-toggle {
        transition: all .4s ease-in-out
    }

    .app-nav .submenu-arrow svg {
        width: 14px;
        height: 14px
    }

    .app-nav .submenu-toggle {
        transition: all .4s ease-in-out
    }

    @media(prefers-reduced-motion: reduce) {
        .app-nav .submenu-toggle {
            transition: none
        }
    }

    .app-nav .submenu-toggle[aria-expanded=true] .submenu-arrow {
        color: #252930
    }

    .app-nav .submenu-toggle[aria-expanded=true] .submenu-arrow svg {
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg)
    }

    .app-nav .submenu-item {
        margin-bottom: 0
    }

    .app-nav .submenu-link {
        color: #5d6778;
        font-size: .875rem;
        margin-left: 2rem;
        padding: .5rem 1rem;
        padding-left: 1rem;
        position: relative;
        display: block;
        margin-bottom: 0
    }

    .app-nav .submenu-link:before {
        background-color: #e7e9ed;
        content: " ";
        display: inline-block;
        height: inherit;
        left: 0;
        position: absolute;
        width: 2px;
        height: 100%;
        margin-top: -0.5rem
    }

    .app-nav .submenu-link:hover {
        color: #252930
    }

    .app-nav .submenu-link.active {
        color: #0d42ff
    }

    .app-nav .submenu-link.active:before {
        background-color: #0d42ff
    }

</style>
    <body>
    <div class="main-content mt-5">
        <!-- Page content -->
        <div class="container-fluid ">
            <div class="row">
                <div class="col-xl-3 order-xl-1 mb-5 mb-xl-0">
                    <div class="col">
                        <div class="card card-profile shadow">
                            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                                <div class="row justify-content-center">
                                    <div class="col-lg-3 order-lg-2">
                                        <div class="card-profile-image">
                                            <a href="#">
                                                {% if app.user %}
                                                    <img src="{{ path('user_show', {'id': app.user.id}) }}" alt="{{ app.user.nom}}">
                                                {% else %}
                                                    <img src="https://demos.creative-tim.com/argon-dashboard/assets-old/img/theme/team-4.jpg" class="rounded-circle">
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0 pt-md-4">
                                <div class="row">
                                    <div class="col">
                                        <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <h3>
                                        {{app.user.nom }}<span class="font-weight-light"></span>
                                    </h3>
                                    <div class="h5 font-weight-300">
                                        <i class="ni location_pin mr-2"></i>{{app.user.adresse }}
                                    </div>

                                </div>
                            </div>
                            <div class="sidepanel-inner d-flex flex-column">
                                <nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
                                    <ul class="app-menu list-unstyled accordion" id="menu-accordion">
                                        <li class="nav-item">
                                            <a class="nav-link {% if app.request.attributes.get('_route') == 'app_profil-Myaccount'  %}active{% endif %}" href="{{ path('app_profil-Myaccount') }}">
									<span class="nav-icon">
								<i class="fas fa-user   "></i>
									</span>
                                                <span class="nav-link-text">My account</span>
                                            </a><!--//nav-link-->
                                        </li><!--//nav-item-->
                                        <li class="nav-item has-submenu">
                                            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                                            <a class="nav-link submenu-toggle {% if (app.request.attributes.get('_route') == 'app_profil-evenement') or (app.request.attributes.get('_route') == 'app_profil-addevenement') or (app.request.attributes.get('_route') == 'app_profil-evenement-edit')  %}active{% else %}collapsed{% endif %}" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-1" aria-expanded="{% if (app.request.attributes.get('_route') == 'app_profil-evenement') or (app.request.attributes.get('_route') == 'app_profil-addevenement') or (app.request.attributes.get('_route') == 'app_profil-evenement-edit')  %}true{% else %}false{% endif %}" aria-controls="submenu-1">
									<span class="nav-icon">
									<!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
									<i class="fa-regular fa-calendar-check"></i>
									</span>
                                                <span class="nav-link-text " >My Events</span>
                                                <span class="submenu-arrow">
										<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
		</svg>
									</span><!--//submenu-arrow-->
                                            </a><!--//nav-link-->
                                            <div id="submenu-1" class="collapse submenu submenu-1 {% if (app.request.attributes.get('_route') == 'app_profil-evenement') or (app.request.attributes.get('_route') == 'app_profil-addevenement') or (app.request.attributes.get('_route') == 'app_profil-evenement-edit') %} show {% else %}collapsing {% endif %}" data-bs-parent="#menu-accordion">
                                                <ul class="submenu-list list-unstyled">
                                                    <li class="submenu-item"><a class="submenu-link {% if app.request.attributes.get('_route') == 'app_profil-addevenement'%}active {% endif %}" href="{{ path('app_profil-addevenement') }}">Create event</a></li>
                                                    <li class="submenu-item "><a class="submenu-link {% if (app.request.attributes.get('_route') == 'app_profil-evenement') or (app.request.attributes.get('_route') == 'app_profil-evenement-edit') %}active {% endif %}" href="{{ path('app_profil-evenement') }}">event list</a></li>
                                                    <li class="submenu-item"><a class="submenu-link" href="settings.html">Stats</a></li>
                                                </ul>
                                            </div>
                                        </li><!--//nav-item-->
                                        <li class="nav-item has-submenu">
                                            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                                            <a class="nav-link submenu-toggle" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-2" aria-expanded="false" aria-controls="submenu-2">
									    <span class="nav-icon"><i class="fas fa-product-hunt   "></i></span>
                                                <span class="nav-link-text">MY Products</span>
                                                <span class="submenu-arrow">
										<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
		</svg>
									</span><!--//submenu-arrow-->
                                            </a><!--//nav-link-->
                                            <div id="submenu-2" class="collapse submenu submenu-2" data-bs-parent="#menu-accordion">
                                                <ul class="submenu-list list-unstyled">
                                                    <li class="submenu-item"><a class="submenu-link" href="login.html">Add product</a></li>
                                                    <li class="submenu-item"><a class="submenu-link" href="signup.html">Produt list</a></li>
                                                    <li class="submenu-item"><a class="submenu-link" href="reset-password.html">Stats</a></li>
                                                </ul>
                                            </div>
                                        </li><!--//nav-item-->
                                        <li class="nav-item">
                                            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                                            <a class="nav-link" href="charts.html">
									<span class="nav-icon">
									<i class="fa fa-star"></i>
									</span>
                                                <span class="nav-link-text">Quiz scores </span>
                                            </a><!--//nav-link-->
                                        </li><!--//nav-item-->
                                        <li class="nav-item">
                                            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                                            <a class="nav-link" href="help.html">
									<span class="nav-icon">
								<i class="fa fa-file"></i>
									</span>
                                                <span class="nav-link-text">Facture</span>
                                            </a><!--//nav-link-->
                                        </li><!--//nav-item-->
                                        <li class="nav-item">
                                            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                                            <a class="nav-link" href="help.html">
									<span class="nav-icon">
								<i class="fa fa-credit-card"></i>
									</span>
                                                <span class="nav-link-text">Payement</span>
                                            </a><!--//nav-link-->
                                        </li><!--//nav-item-->
                                        <li class="nav-item">
                                            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                                            <a class="nav-link" href="help.html">
									<span class="nav-icon">
									<i class="fa fa-sign-out"></i>
									</span>
                                                <span class="nav-link-text">log out</span>
                                            </a><!--//nav-link-->
                                        </li><!--//nav-item-->

                                    </ul><!--//app-menu-->
                                </nav><!--//app-nav-->
                            </div><!--//sidepanel-inner-->
                        </div>
                    </div>

        </div>
                <div class="col-xl-9 order-xl-2 ">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">{% block cardtitle %}title
                                    {% endblock %}
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                        {% block content %}

                        {% endblock %}
                        </div>
                    </div>
                </div>

    </div>
         </div>
    <footer class="footer">
        <div class="row align-items-center justify-content-xl-between"></div>
    </footer>
</div>
     </body>
{% endblock %}
