{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="page-header d-flex align-items-center" style="background-image: url('../frontOffice/assets/img/page-header.jpg');">
                <div class="container position-relative">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-6 text-center">
                            <h2>Evenements</h2>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <nav>
                <div class="container">
                    <ol>
                        <li><a href="{{ path('app_evenement_index') }}">Evenements</a></li>

                    </ol>
                </div>
            </nav>
        </div><!-- End Breadcrumbs -->

        <!-- ======= Services Section ======= -->
        <section id="service" class="services pt-0">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <span>Evenements disponibles</span>
                    <h2>Evenements disponibles</h2>
                </div>
                <div class="row gy-4">
                    {% set index = 1%}
                    {% for evenement in evenements %}
                        {% set timer = index*100 %}
                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay= {{timer}} >
                            <div class="card">
                                <div class="card-img">
                                    <img src="../frontOffice/assets/img/logotha9afans.png" alt="" class="img-fluid">
                                </div>
                                <h3><a href="{{ path('app_evenement_show', {'id': evenement.id}) }}" class="stretched-link">{{ evenement.nom }}</a></h3>
                                <p>{{ evenement.description }}</p>
                            </div>
                        </div><!-- End Card Item -->
                        {% set index=index+1 %}
                    {% endfor %}
                </div>
            </div>
        </section><!-- End Services Section -->

    </main><!-- End #main -->
{% endblock %}
