{% extends 'backBase.html.twig' %}

{% block title %}Facture index{% endblock %}

{% block body %}
    <style>
        main.tablet {
            background-color: #f6fff5;
            backdrop-filter: blur(7px);
            box-shadow: 0 .4rem .8rem #0005;
            border-radius: .8rem;
            overflow: hidden;
        }

        .table__header {
            width: 100%;
            height: 10%;
            background-color: #F1FAEE;
            padding: .8rem 1rem;

            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .table__header .input-group {
            width: 35%;
            height: 100%;
            background-color: white;
            padding: 0 .8rem;
            border-radius: 2rem;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: .2s;
        }
        body{
            margin-left:20px;
            margin-right: 20px;
        }

        .table__header .input-group:hover {
            width: 45%;
            background-color: #f1f8fa;
            box-shadow: 0 .1rem .4rem #eeeaea
        }

        .table__header .input-group img {
            width: 20px;
            height: 20px;
        }

        .table__header .input-group input {
            width: 100%;
            padding: 0 .5rem 0 .3rem;
            background-color: transparent;
            border: none;
            outline: none;
        }

        .table__body {
            width: 95%;
            max-height: calc(89% - 1.6rem);
            background-color: #F1FAEE;

            margin: .8rem auto;
            border-radius: .6rem;

            overflow: auto;
        }

        .table__body::-webkit-scrollbar{
            width: 0.5rem;
            height: 0.5rem;
        }

        .table__body::-webkit-scrollbar-thumb{
            border-radius: .5rem;
            background-color: #0004;
            visibility: hidden;
        }

        .table__body:hover::-webkit-scrollbar-thumb{
            visibility: visible;
        }

        table {
            width: 100%;
        }

        td img {
            width: 80px;
            height: 80px;
            margin-right: .5rem;
            border-radius: 50%;
            vertical-align: middle;
        }

        table, th, td {
            border-collapse: collapse;
            padding: 1rem;
            text-align: left;
        }

        thead th {
            position: sticky;
            top: 0;
            left: 0;
            background-color: #001A23;
            color: white;
            cursor: pointer;
            text-transform: capitalize;
        }

        tbody tr:nth-child(even) {
            background-color: #0000000b;
        }

        tbody tr {
            --delay: .1s;
            transition: .5s ease-in-out var(--delay), background-color 0s;
        }

        tbody tr.hide {
            opacity: 0;
            transform: translateX(100%);
        }

        tbody tr:hover {
            background-color: rgb(255, 255, 255) !important;
        }

        tbody tr td,
        tbody tr td p,
        tbody tr td img {
            transition: .2s ease-in-out;
        }

        tbody tr.hide td,
        tbody tr.hide td p {
            padding: 0;
            transition: .2s ease-in-out .5s;
        }

        tbody tr.hide td img {
            width: 0;
            height: 0;
            transition: .2s ease-in-out .5s;
        }

        .status {
            padding: .4rem 0;
            border-radius: 2rem;
            text-align: center;
        }

        .status.delivered {
            background-color: #86e49d;
            color: #006b21;
        }

        .status.cancelled {
            background-color: #d893a3;
            color: #b30021;
        }

        .status.pending {
            background-color: #ebc474;
        }

        .status.shipped {
            background-color: #6fcaea;
        }


        @media (max-width: 1000px) {
            td:not(:first-of-type) {
                min-width: 12.1rem;
            }
        }

        thead th span.icon-arrow {
            display: inline-block;
            width: 1.3rem;
            height: 1.3rem;
            border-radius: 50%;
            border: 1.4px solid transparent;

            text-align: center;
            font-size: 1rem;

            margin-left: .5rem;
            transition: .2s ease-in-out;
        }

        thead th:hover span.icon-arrow{
            border: 1.4px solid #001A23;
        }

        thead th:hover {
            color: #001A23;
        }

        thead th.active span.icon-arrow{
            background-color: #001A23;
            color: #fff;
        }

        thead th.asc span.icon-arrow{
            transform: rotate(180deg);
        }

        thead th.active,tbody td.active {
            color: #001A23;
        }

        .export__file {
            position: relative;
        }

        .export__file .export__file-btn {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            background: #fff6 url('{{ asset('frontOffice/assets/img/pdf.png') }}') center / 80% no-repeat;
            border-radius: 50%;
            transition: .2s ease-in-out;
        }

        .export__file .export__file-btn:hover {
            background-color: #fff;
            transform: scale(1.15);
            cursor: pointer;
        }

        .export__file input {
            display: none;
        }

        .export__file .export__file-options {
            position: absolute;
            right: 0;

            width: 12rem;
            border-radius: .5rem;
            overflow: hidden;
            text-align: center;

            opacity: 0;
            transform: scale(.8);
            transform-origin: top right;

            box-shadow: 0 .2rem .5rem #0004;

            transition: .2s;
        }

        .export__file input:checked + .export__file-options {
            opacity: 1;
            transform: scale(1);
            z-index: 100;
        }

        .export__file .export__file-options label{
            display: block;
            width: 100%;
            padding: .6rem 0;
            background-color: #f2f2f2;

            display: flex;
            justify-content: space-around;
            align-items: center;

            transition: .2s ease-in-out;
        }

        .export__file .export__file-options label:first-of-type{
            padding: 1rem 0;
            background-color: #86e49d !important;
        }

        .export__file .export__file-options label:hover{
            transform: scale(1.05);
            background-color: #fff;
            cursor: pointer;
        }

        .export__file .export__file-options img{
            width: 2rem;
            height: auto;
        }
    </style>

    <main class="tablet" style="margin-top: 30px">
        <section class="table__header">
            <h1 style="color: #001A23">liste des commandes</h1>
            <div class="input-group">
                <input type="search" placeholder="Entrez le nom" >
            </div>

        </section>
        <section class="table__body">
            <table>
                <thead>
                <tr>
                    <th class="col-md-5 col-xs-5">Date Commande</th>
                    <th class="col-md-4 col-xs-4">total</th>
                    <th class="col-md-4 col-xs-4">etat</th>
                    <th class="col-md-4 col-xs-4">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for commande in commandes %}
                    <tr>

                        <td>{{ commande.datecommande ? commande.datecommande|date('Y-m-d') : '' }}</td>
                        <td>{{ commande.total }}</td>
                        <td>{{ commande.etat }}</td>

                        <td>
                            {% set existingFacture = factureRepository.findOneBy({'idCommende': commande}) %}
                            {% if existingFacture %}
                                <p>Facture already exists for this Commande</p>
                            {% else %}
                                <a href="{{ path('app_commande_facture', { 'id': commande.id }) }}" class="btn btn-success">Facture</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="12">no records found</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </section>
    </main>


{% endblock %}





{#{% block body %}
    <style>
        body{
            padding:20px 20px;
        }

        .results tr[visible='false'],
        .no-result{
            display:none;
        }

        .results tr[visible='true']{
            display:table-row;
        }

        .counter{
            padding:8px;
            color:#ccc;
        }
        .a {
            background: #ffffff;
            border: solid 1px #e6e6e6;
            border-radius: 2px;
            display: inline-block;
            height: 100px;
            line-height: 100px;
            margin: 5px;
            position: relative;
            text-align: center;
            vertical-align: middle;
            width: 100px;
        }

        .a span {
            background: #0b3844;
            border-radius: 4px;
            color: #ffffff;
            display: inline-block;
            font-size: 11px;
            font-weight: 700;
            line-height: normal;
            padding: 5px 10px;
            position: relative;
            text-transform: uppercase;
            z-index: 1;
        }

        .a span:last-child {
            margin-left: -20px;
        }

        .a:before,
        .a:after {
            background: #ffffff;
            border: solid 3px #9fb4cc;
            border-radius: 4px;
            content: '';
            display: block;
            height: 35px;
            left: 50%;
            margin: -17px 0 0 -12px;
            position: absolute;
            top: 50%;
            /*transform:translate(-50%,-50%);*/

            width: 25px;
        }

        .a:hover:before,
        .a:hover:after {
            background: #e2e8f0;
        }
        /*a:before{transform:translate(-30%,-60%);}*/

        .a:before {
            margin: -23px 0 0 -5px;
        }

        .a:hover {
            background: #e2e8f0;
            border-color: #9fb4cc;
        }

        .a:active {
            background: #dae0e8;
            box-shadow: inset 0 2px 2px rgba(0, 0, 0, .25);
        }

        .a span:first-child {
            display: none;
        }

        .a:hover span:first-child {
            display: inline-block;
        }

        .a:hover span:last-child {
            display: none;
        }
        /* custom code for the demo */

        html,
        button,
        input,
        select,
        textarea {
            font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
        }

        html,
        body {
            height: 100%;
            width: 100%;
        }

        html {
            display: table;
        }





        html {
            background: #FF7F50 no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            overflow: hidden;
        }



    </style>
    <div class="form-group pull-right">
        <input type="text" class="search form-control" placeholder="Qu'est-ce que tu cherches?" id="search-input">
    </div>
    <span class="counter pull-right"></span>
    <table class="table table-hover table-bordered results">
        <thead>
        <tr>
            <th class="col-md-5 col-xs-5">Date Commande</th>
            <th class="col-md-4 col-xs-4">total</th>
            <th class="col-md-4 col-xs-4">etat</th>
            <th class="col-md-4 col-xs-4">Action</th>

        </tr>
        <tr class="warning no-result">
            <td colspan="4"><i class="fa fa-warning"></i> No result</td>
        </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>

                <td>{{ commande.datecommande ? commande.datecommande|date('Y-m-d') : '' }}</td>
                <td>{{ commande.total }}</td>
                <td>{{ commande.etat }}</td>



                <td>
                    <a href="#" class="btn btn-success">Facture</a>
                </td>
            </tr>
        {% endfor %}
        <script >
            $(function() {
                $('#search-input').on('input', function() {
                    var searchTerm = $(this).val();

                    $.ajax({
                        url: '{{ path('search_commandes') }}',
                        type: 'POST',
                        data: {
                            searchTerm: searchTerm
                        },
                        success: function(response) {
                            // Clear the existing table rows
                            $('.results tbody tr').remove();

                            // Add the filtered rows to the table
                            for (var i = 0; i < response.length; i++) {
                                var commande = response[i];
                                var row = '<tr>' +
                                    '<td>' + commande.id + '</td>' +
                                    '<td>' + commande.datecommande + '</td>' +
                                    '<td>' + commande.idProduit.nom + '</td>' +
                                    '<td>' + commande.idProduit.prix + '</td>' +
                                    '<td>' + commande.total + '</td>' +
                                    '<td>' +

                                    '</td>' +
                                    '</tr>';
                                $('.results tbody').append(row);
                            }
                        }
                    });
                });
            });
            function ani(){
                document.getElementById('plane').className ='animation';
            }
            function anitwo(){
                document.getElementById('bg').className ='animation2';
            }
        </script>

        </tbody>
    </table>




    #}{# <style>
        :root {
            --grey-light: hsl(200, 10%, 92%);
            --grey: hsl(200, 10%, 85%);
            --grey-dark: hsl(200, 10%, 70%);
            --shadow: hsla(200, 20%, 20%, 0.25);
            --red: #dc143c;
            --bg: hsl(200, 0%, 100%);
            --divider: var(--grey-light);
            --border: var(--grey-dark);
            --cutout-size: 1rem;
        }

        *,
        *::after {
            box-sizing: border-box;
            margin: 0;
        }

        .body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            color: hsl(200, 10%, 30%);
            background-color: hsl(200, 10%, 96%);
            background-image: linear-gradient(to bottom left, var(--grey-dark), var(--grey));
        }

        .ticket {
            display: grid;
            grid-template-rows: auto 1fr auto;
            max-width: 24rem;
        }

        .ticket__header,
        .ticket__body,
        .ticket__footer {
            padding: 1.25rem;
            background-color: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 2px 4px #ccc;
        }

        .ticket__header {
            font-size: 1.5rem;
            border-top: 0.25rem solid #f00;
            border-bottom: none;
            box-shadow: none;
        }

        .ticket__wrapper {
            box-shadow: 0 2px 4px #ccc;
            border-radius: 0.375em 0.375em 0 0;
            overflow: hidden;
        }

        .ticket__divider {
            position: relative;
            height: 2rem;
            background-color: #fff;
            margin-left: 1rem;
            margin-right: 1rem;
        }

        .ticket__divider::after {
            content: '';
            position: absolute;
            height: 50%;
            width: 100%;
            top: 0;
            border-bottom: 2px dashed #ddd;
        }

        .ticket__notch {
            position: absolute;
            left: -0.75rem;
            width: 1.5rem;
            height: 1.5rem;
            overflow: hidden;
        }

        .ticket__notch::after {
            content: '';
            position: relative;
            display: block;
            width: 3rem;
            height: 3rem;
            right: 100%;
            top: -50%;
            border: 0.75rem solid #fff;
            border-radius: 50%;
            box-shadow: inset 0 2px 4px #ccc;
        }

        .ticket {
            display: grid;
            grid-template-rows: auto 1fr auto;
            max-width: 24rem;
        }
        .ticket__header,
        .ticket__body,
        .ticket__footer {
            padding: 1.25rem;
            background-color: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 2px 4px #ccc;
        }
        .ticket__header {
            font-size: 1.5rem;
            border-top: 0.25rem solid #f00;
            border-bottom: none;
            box-shadow: none;
        }
        .ticket__wrapper {
            box-shadow: 0 2px 4px #ccc;
            border-radius: 0.375em 0.375em 0 0;
            overflow: hidden;
        }
        .ticket__divider {
            position: relative;
            height: 2rem;
            background-color: #fff;
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .ticket__divider::after {
            content: '';
            position: absolute;
            height: 50%;
            width: 100%;
            top: 0;
            border-bottom: 2px dashed #ddd;
        }
        .ticket__notch {
            position: absolute;
            left: -0.75rem;
            width: 1.5rem;
            height: 1.5rem;
            overflow: hidden;
        }
        .ticket__notch::after {
            content: '';
            position: relative;
            display: block;
            width: 3rem;
            height: 3rem;
            right: 100%;
            top: -50%;
            border: 0.75rem solid #fff;
            border-radius: 50%;
            box-shadow: inset 0 2px 4px #ccc;
        }
        .ticket__notch--right {
            left: auto;
            right: -0.75rem;
        }
        .ticket__notch--right::after {
            right: 0;
        }
        .ticket__body {
            border-bottom: none;
            border-top: none;
        }
        .ticket__body > * + * {
            margin-top: 1.5rem;
            padding-top: 1.5rem;
            border-top: 1px solid #ddd;
        }
        .ticket__section > * + * {
            margin-top: 0.25rem;
        }
        .ticket__section > h3 {
            font-size: 1.125rem;
            margin-bottom: 0.5rem;
        }
        .ticket__header,
        .ticket__footer {
            font-weight: bold;
            font-size: 1.25rem;
            display: flex;
            justify-content: space-between;
        }
        .ticket__footer {
            border-top: 2px dashed #ddd;
            border-radius: 0 0 0.325rem 0.325rem;
        }
        .ticket__footer > * {
            margin-top: 0;
        }
    </style>
<div class="body">
    <article class="ticket">
    #}{##}{#<header class="ticket__wrapper">
            <div class="ticket__header">
                2 🎟
            </div>
        </header>
        <div class="ticket__divider">
            <div class="ticket__notch"></div>
            <div class="ticket__notch ticket__notch--right"></div>
        </div>#}{##}{#
<div class="ticket__body">
    <section class="ticket__section">
        <h3>Your Tickets</h3>
        <p>Level 1 VIP Club Seats and Bar</p>
        <p>Block 406   Row Q   Seats 34-35</p>
        <p>Your seats are together</p>
    </section>
    <section class="ticket__section">
        <h3>Delivery Address</h3>
        <p>8 Joanne Lane, 2516 AC Den Haag</p>
        <p>Netherlands</p>
    </section>
    <section class="ticket__section">
        <h3>Payment Method</h3>
        <p>Mastercard **** 8765</p>
    </section>
</div>
<footer class="ticket__footer">
    <span>Total Paid</span>
    <span>£173.20</span>
</footer>
</article>

</div>#}{#


{% endblock %}#}



