{% extends 'backBase.html.twig' %}

{% block title %}Facture index{% endblock %}


{% block body %}
    <style>
        body{
            padding:20px 20px;
        }

        .results tr[visible='false'],
        .no-result{
            display:none;
        }

        .results tr[visible='true']{
            display:table-row;
        }

        .counter{
            padding:8px;
            color:#ccc;
        }
        .a {
            background: #ffffff;
            border: solid 1px #e6e6e6;
            border-radius: 2px;
            display: inline-block;
            height: 100px;
            line-height: 100px;
            margin: 5px;
            position: relative;
            text-align: center;
            vertical-align: middle;
            width: 100px;
        }

        .a span {
            background: #0b3844;
            border-radius: 4px;
            color: #ffffff;
            display: inline-block;
            font-size: 11px;
            font-weight: 700;
            line-height: normal;
            padding: 5px 10px;
            position: relative;
            text-transform: uppercase;
            z-index: 1;
        }

        .a span:last-child {
            margin-left: -20px;
        }

        .a:before,
        .a:after {
            background: #ffffff;
            border: solid 3px #9fb4cc;
            border-radius: 4px;
            content: '';
            display: block;
            height: 35px;
            left: 50%;
            margin: -17px 0 0 -12px;
            position: absolute;
            top: 50%;
            /*transform:translate(-50%,-50%);*/

            width: 25px;
        }

        .a:hover:before,
        .a:hover:after {
            background: #e2e8f0;
        }
        /*a:before{transform:translate(-30%,-60%);}*/

        .a:before {
            margin: -23px 0 0 -5px;
        }

        .a:hover {
            background: #e2e8f0;
            border-color: #9fb4cc;
        }

        .a:active {
            background: #dae0e8;
            box-shadow: inset 0 2px 2px rgba(0, 0, 0, .25);
        }

        .a span:first-child {
            display: none;
        }

        .a:hover span:first-child {
            display: inline-block;
        }

        .a:hover span:last-child {
            display: none;
        }
        /* custom code for the demo */

        html,
        button,
        input,
        select,
        textarea {
            font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
        }

        html,
        body {
            height: 100%;
            width: 100%;
        }

        html {
            display: table;
        }





        html {
            background: #FF7F50 no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            overflow: hidden;
        }



    </style>
    <div class="form-group pull-right">
        <input type="text" class="search form-control" placeholder="Qu'est-ce que tu cherches?" id="search-input">
    </div>
    <span class="counter pull-right"></span>
    <table class="table table-hover table-bordered results">
        <thead>
        <tr>
            <th class="col-md-5 col-xs-5">refrance </th>
            <th class="col-md-5 col-xs-5">Date Commande</th>
            <th class="col-md-4 col-xs-4">Nom Produit</th>
            <th class="col-md-4 col-xs-4">Prix</th>
            <th class="col-md-4 col-xs-4">total</th>
           {# <th class="col-md-4 col-xs-4">user</th>#}
            <th class="col-md-4 col-xs-4">Action</th>

        </tr>
        <tr class="warning no-result">
            <td colspan="4"><i class="fa fa-warning"></i> No result</td>
        </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.datecommande ? commande.datecommande|date('Y-m-d') : '' }}</td>
                <td>{{ commande.idProduit.nom }}</td>
                <td>{{ commande.idProduit.prix }}</td>
                <td>{{ commande.total }}</td>
                <td>
                    <a class="a" href="{{ path('commande_pdf', {'id': commande.id}) }}" download><span >Download</span><span>PDF</span></a>
                    <a class="a" href="{{ path('commande_pdf', {'id': commande.id}) }}" download><span >Send</span><span>Mail</span></a>
                </td>
            </tr>
        {% endfor %}
        <script >
            $(function() {
                $('#search-input').on('input', function() {
                    var searchTerm = $(this).val();

                    $.ajax({
                        url: '{{ path('search_commandes') }}',
                        type: 'POST',
                        data: {
                            searchTerm: searchTerm
                        },
                        success: function(response) {
                            // Clear the existing table rows
                            $('.results tbody tr').remove();

                            // Add the filtered rows to the table
                            for (var i = 0; i < response.length; i++) {
                                var commande = response[i];
                                var row = '<tr>' +
                                    '<td>' + commande.id + '</td>' +
                                    '<td>' + commande.datecommande + '</td>' +
                                    '<td>' + commande.idProduit.nom + '</td>' +
                                    '<td>' + commande.idProduit.prix + '</td>' +
                                    '<td>' + commande.total + '</td>' +
                                    '<td>' +

                                    '</td>' +
                                    '</tr>';
                                $('.results tbody').append(row);
                            }
                        }
                    });
                });
            });
            function ani(){
                document.getElementById('plane').className ='animation';
            }
            function anitwo(){
                document.getElementById('bg').className ='animation2';
            }
        </script>

        </tbody>
    </table>




    {# <style>
        :root {
            --grey-light: hsl(200, 10%, 92%);
            --grey: hsl(200, 10%, 85%);
            --grey-dark: hsl(200, 10%, 70%);
            --shadow: hsla(200, 20%, 20%, 0.25);
            --red: #dc143c;
            --bg: hsl(200, 0%, 100%);
            --divider: var(--grey-light);
            --border: var(--grey-dark);
            --cutout-size: 1rem;
        }

        *,
        *::after {
            box-sizing: border-box;
            margin: 0;
        }

        .body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            color: hsl(200, 10%, 30%);
            background-color: hsl(200, 10%, 96%);
            background-image: linear-gradient(to bottom left, var(--grey-dark), var(--grey));
        }

        .ticket {
            display: grid;
            grid-template-rows: auto 1fr auto;
            max-width: 24rem;
        }

        .ticket__header,
        .ticket__body,
        .ticket__footer {
            padding: 1.25rem;
            background-color: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 2px 4px #ccc;
        }

        .ticket__header {
            font-size: 1.5rem;
            border-top: 0.25rem solid #f00;
            border-bottom: none;
            box-shadow: none;
        }

        .ticket__wrapper {
            box-shadow: 0 2px 4px #ccc;
            border-radius: 0.375em 0.375em 0 0;
            overflow: hidden;
        }

        .ticket__divider {
            position: relative;
            height: 2rem;
            background-color: #fff;
            margin-left: 1rem;
            margin-right: 1rem;
        }

        .ticket__divider::after {
            content: '';
            position: absolute;
            height: 50%;
            width: 100%;
            top: 0;
            border-bottom: 2px dashed #ddd;
        }

        .ticket__notch {
            position: absolute;
            left: -0.75rem;
            width: 1.5rem;
            height: 1.5rem;
            overflow: hidden;
        }

        .ticket__notch::after {
            content: '';
            position: relative;
            display: block;
            width: 3rem;
            height: 3rem;
            right: 100%;
            top: -50%;
            border: 0.75rem solid #fff;
            border-radius: 50%;
            box-shadow: inset 0 2px 4px #ccc;
        }

        .ticket {
            display: grid;
            grid-template-rows: auto 1fr auto;
            max-width: 24rem;
        }
        .ticket__header,
        .ticket__body,
        .ticket__footer {
            padding: 1.25rem;
            background-color: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 2px 4px #ccc;
        }
        .ticket__header {
            font-size: 1.5rem;
            border-top: 0.25rem solid #f00;
            border-bottom: none;
            box-shadow: none;
        }
        .ticket__wrapper {
            box-shadow: 0 2px 4px #ccc;
            border-radius: 0.375em 0.375em 0 0;
            overflow: hidden;
        }
        .ticket__divider {
            position: relative;
            height: 2rem;
            background-color: #fff;
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .ticket__divider::after {
            content: '';
            position: absolute;
            height: 50%;
            width: 100%;
            top: 0;
            border-bottom: 2px dashed #ddd;
        }
        .ticket__notch {
            position: absolute;
            left: -0.75rem;
            width: 1.5rem;
            height: 1.5rem;
            overflow: hidden;
        }
        .ticket__notch::after {
            content: '';
            position: relative;
            display: block;
            width: 3rem;
            height: 3rem;
            right: 100%;
            top: -50%;
            border: 0.75rem solid #fff;
            border-radius: 50%;
            box-shadow: inset 0 2px 4px #ccc;
        }
        .ticket__notch--right {
            left: auto;
            right: -0.75rem;
        }
        .ticket__notch--right::after {
            right: 0;
        }
        .ticket__body {
            border-bottom: none;
            border-top: none;
        }
        .ticket__body > * + * {
            margin-top: 1.5rem;
            padding-top: 1.5rem;
            border-top: 1px solid #ddd;
        }
        .ticket__section > * + * {
            margin-top: 0.25rem;
        }
        .ticket__section > h3 {
            font-size: 1.125rem;
            margin-bottom: 0.5rem;
        }
        .ticket__header,
        .ticket__footer {
            font-weight: bold;
            font-size: 1.25rem;
            display: flex;
            justify-content: space-between;
        }
        .ticket__footer {
            border-top: 2px dashed #ddd;
            border-radius: 0 0 0.325rem 0.325rem;
        }
        .ticket__footer > * {
            margin-top: 0;
        }
    </style>
<div class="body">
    <article class="ticket">
    #}{#<header class="ticket__wrapper">
            <div class="ticket__header">
                2 🎟
            </div>
        </header>
        <div class="ticket__divider">
            <div class="ticket__notch"></div>
            <div class="ticket__notch ticket__notch--right"></div>
        </div>#}{#
<div class="ticket__body">
    <section class="ticket__section">
        <h3>Your Tickets</h3>
        <p>Level 1 VIP Club Seats and Bar</p>
        <p>Block 406   Row Q   Seats 34-35</p>
        <p>Your seats are together</p>
    </section>
    <section class="ticket__section">
        <h3>Delivery Address</h3>
        <p>8 Joanne Lane, 2516 AC Den Haag</p>
        <p>Netherlands</p>
    </section>
    <section class="ticket__section">
        <h3>Payment Method</h3>
        <p>Mastercard **** 8765</p>
    </section>
</div>
<footer class="ticket__footer">
    <span>Total Paid</span>
    <span>£173.20</span>
</footer>
</article>

</div>#}


{% endblock %}



