{% extends 'base.html.twig' %}
{% block title %}Liste des personnes{% endblock %}

{% block body %}

    <h1 style="color: #1D3557;">liste des personnes</h1>
    <br> <br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cin</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Password</th>
                <th>Role</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Photo</th>
                <th>Datenaissance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personne in personnes %}
            <tr>
                <td>{{ personne.id }}</td>
                <td>{{ personne.cin }}</td>
                <td>{{ personne.nom }}</td>
                <td>{{ personne.prenom }}</td>
                <td>{{ personne.email }}</td>
                <td>{{ personne.password }}</td>
                <td>{{ personne.role }}</td>
                <td>{{ personne.telephone }}</td>
                <td>{{ personne.adresse }}</td>
                <td>
                    {% if personne.photo is not empty %}
                        <img src="{{ path('personne_show', {'id': personne.id}) }}" alt="{{ personne.nom }}" width="100">
                    {% else %}
                        Aucune photo disponible
                    {% endif %}
                </td>
                <td>{{ personne.datenaissance ? personne.datenaissance|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_personnes_show', {'id': personne.id}) }}" style="background-color: #1D3557;color:#F1FAEE " >Détail</a>
                    <a href="{{ path('app_personnes_edit', {'id': personne.id}) }}" style="background-color: #1D3557;color:#F1FAEE">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_personnes_new') }}">Create new</a>
{% endblock %}
