{% extends 'base.html.twig' %}

{% block title %}Panierproduit index{% endblock %}

{% block body %}
        <h1>Panierproduit index</h1>


        <style>

            @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');



            form .inputBox{
                margin-top: 20px;
            }

            form .inputBox span{

                font-family: 'Quicksand', sans-serif;
                font-size: 40px;
                display: block;
                color:#001A23;
                padding-bottom: 5px;
            }

            form .inputBox input,
             form .inputBox select{
                width: 100%;
                padding: 10px;
                border-radius: 10px;
                border:1px solid rgba(0,0,0,.3);
                color:#444;
            }
            .titlepanier
            {
                font-family: 'Quicksand', sans-serif;
                font-size: 40px;
                display: block;
                color:#001A23;
                padding-bottom: 5px;
            }
            .filter
            {
                font-family: 'Quicksand', sans-serif;
                font-size: 25px;
                color:#A8DADC;

            }
            .price
            {
                font-family: 'Quicksand', sans-serif;
                font-size: 20px;
                color:#001A23;

            }
            .box {
                background-color: #a8dadc;
                border-radius: 10px;
                background:linear-gradient(90deg, #F1FAEE, #001A23);
                box-shadow: 0 0 20px rgb(69, 123, 157);
            }
            .box1 {
                background-color: #a8dadc;
                border-radius: 20px;
                background:linear-gradient(45deg, #F1FAEE , #001A23);
                box-shadow: 0 0 20px rgb(69, 123, 157);

            }
            .text{
                font-family: 'Quicksand', sans-serif;
                font-size: 25px;
                color:#F1FAEE;
            }
            .highlight {
                font-family: 'Quicksand', sans-serif;
                background:linear-gradient(45deg, darkseagreen, #e3e5e5);
                color: #001A23;
            }
            .btnqt{
                font-size: 20px;
                color:#001A23;
            }
            .textqt{
                text-align: center;
                font-size: 20px;
                color:#001A23;
            }
            .textproduitname{
                font-family: 'Quicksand', sans-serif;
                font-size: 25px;
                color:#001A23;
            }
            .textproduitdesc{
                font-family: 'Quicksand', sans-serif;
                font-size: 20px;
                color: #0b3844;
            }
            .btncenter{
               /* centre the btn*/
                text-align: center;


            }

            .boxdis {
                text-align: center;
            }
            .coupon {
                display: inline-block;
                border: 1px dashed #000;
                padding: 0.8em 1.2em;
                position: relative;
                font-weight: bold;
                background: #FFC107;
            }

            span.scissors {
                position: absolute;
                top: -12px;
                right: 0;
            }
            .inner {
                display: inline-block;
                border: 1px solid #e8dddd;
                padding: 1.2em 2.2em 2.2em 2.2em;
            }


        </style>


        <section class="h-100" style="background-color: #eee;">
            <div class="boxdis">
                <div class="inner">
                    <p>Grab the deal</p>
                    <div class="coupon">
                        <span class="scissors">✂</span>
                        <span class="code" id="discount-code">30%</span>
                    </div>
                </div>
            </div>
            <div class="container h-100 py-5">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-10">

                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h3 class="titlepanier fw-normal mb-0 text-black">Shopping Cart</h3>
                            <div>
                                <a href="{{ path('app_panier_produit_index') }}?sort=asc" class="price" id="sort-by-price">price <i class="fas fa-angle-down mt-1"></i></a>
                            </div>
                        </div>
                        {% if app.session.flashbag.has('error') %}
                            <div class="alert alert-danger">
                                {% for message in app.session.flashbag.get('error') %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if app.session.flashbag.has('warning') %}
                            <div id="alert-box" class="alert alert-warning">
                                {% for message in app.session.flashbag.get('warning') %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div id="cart-items">
                            {% for panierproduit in panierproduits %}

                            <div class="card rounded-3 mb-4">
                                <div class="box card-body p-4">
                                    <div class="row d-flex justify-content-between align-items-center">
                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            {% if panierproduit.idProduit.image is not empty %}
                                                <img  src="{{ path('produit_image_show', {'id': panierproduit.idProduit.id}) }}" alt="{{ panierproduit.idProduit.nom }} " width="100px",height="100px">
                                            {% else %}
                                                Aucune photo disponible
                                            {% endif %}
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                            <p class="textproduitname lead fw-normal mb-2">{{ panierproduit.idProduit.nom }}</p>
                                            <p class="textproduitdesc">{{ panierproduit.idProduit.description }}</p>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                            <button class="btn btn-link px-2"
                                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                                <a href="{{ path('app_panierproduit_updateminus',{'id':panierproduit.id}) }}"><i class="btnqt fas fa-minus"></i></a>
                                            </button>
                                            <input id="form1" type="text"  min="0" name="quantityqt{{ panierproduit.idProduit }}" value="{{ panierproduit.quantity }}"  class="textqt form-control form-control-sm">
                                            <button class="btn btn-link px-2"
                                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                                <a href="{{ path('app_panier_produit_updateplus',{'id':panierproduit.id}) }}"><i class="btnqt fas fa-plus"></i></a>
                                            </button>
                                        </div>
                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                            <h5 class="text mb-0"><span>{{ panierproduit.idProduit.prix}} </span>DT</h5>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                            <a href="{{ path('app_panier_produit_remove',{'id':panierproduit.id}) }}" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        <form action="{{path('app_checkout')}}" method="post">
                            <div class="float-right text-right">
                                <h1 class="highlight" name="subtotal">{{ prixtotale }} DT </h1>
                            </div>
                            <div class="">
                                <div class="card-body" style="text-align: center;">
                                    <div class="box1 card mb-5">
                                        <div class="card-body p-4 d-flex flex-row">
                                            <div class=" form-outline flex-fill">
                                                <form action="{{path('app_checkout')}}" method="post">
                                                    <div class="float-right text-right">
                                                        {% if prixtotale == 0 %}
                                                            <h1 class="">Your cart is empty</h1>
                                                        {% else %}
                                                        <label for="discount_code">Discount code:</label>
                                                        <input type="text" name="discount_code" id="discount_code" class="form-control">
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Checkout</button>
                                                        {% endif %}
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br>
                        <div class="float-right text-right">
                            <h4></h4>
                            <h1></h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>

            // Sort by price ajax code

       /*     var sortByPrice = document.getElementById('sort-by-price');
            sortByPrice.addEventListener('click', function(e) {
                e.preventDefault();
                var xhr = new XMLHttpRequest();
                xhr.open('GET', this.href);
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        var cartItems = document.getElementById('cart-items');
                        cartItems.innerHTML = response.html;
                    }
                };
                xhr.send();
            });*/







            // Wait for 5 seconds and then hide the alert box
            setTimeout(function() {
                var alertBox = document.getElementById('alert-box');
                if (alertBox) {
                    alertBox.style.display = 'none';
                }
            }, 5000);

            //afficher alert box white discount code

            // Define the list of discount codes
            var discountCodes = ["ons", "marwen", "tha9afans"];

            // Get a random discount code from the list
            var discountCode = discountCodes[Math.floor(Math.random() * discountCodes.length)];

            // Display the discount code in the box
            document.getElementById("discount-code").textContent = discountCode;

            // Hide the box after 5 seconds
            setTimeout(function() {
                document.querySelector(".boxdis").style.display = "none";
            }, 5000);



        </script>






{% endblock %}
