{% extends 'base.html.twig' %}

{% block title %}Panierproduit index{% endblock %}

{% block body %}
    <h1>Panierproduit index</h1>

    <table class="table">
        <thead>
            <tr>

                <th>nom</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for panierproduit in panierproduits %}
            <tr>

               <td>{{ panierproduit.idProduit}}</td>
                {# <td>{{ panierproduit.idProduit.description }}</td>#}
                <td>
                    <a href="{{ path('app_panier_produit_show', {'id': panierproduit.id}) }}">show</a>
                    <a href="{{ path('app_panier_produit_edit', {'id': panierproduit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_panier_produit_new') }}">Create new</a>
{% endblock %}
