{% extends 'base.html.twig' %}

{% block body %}

    <h1>Payment</h1>
<div class="containercard">

    <div class="card-container">
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
        <br><br><br><br><br><br><br><br>
    {{ form_widget(form.cardNumber) }}
    {{ form_errors(form.cardNumber) }}
    {{ form_widget(form.expiryMonth) }}
    {{ form_errors(form.expiryMonth) }}
    {{ form_widget(form.expiryYear) }}
    {{ form_errors(form.expiryYear) }}
    {{ form_widget(form.cvc) }}
    {{ form_errors(form.cvc) }}
    {{ form_widget(form.submit) }}
    {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
