<style>

</style>
{{ form_start(form, {'attr': {'style': 'background-color: #001A23;' }}) }}
<div class="row">
    <div class="col">
        {{ form_row(form.photo, {'attr': {'class': 'form-control-file custom-class text-center'}}) }}
    </div>
</div>
<br><br>
<div class="row">
    <div class="col">
        {{ form_row(form.cin, {'attr': {'class': ' custom-class'}}) }}
    </div>
    <div class="col">
        {{ form_row(form.nom, {'attr': {'class': 'custom-class'}}) }}
    </div>
</div>

<div class="row">
    <div class="col">
        {{ form_row(form.prenom, {'attr': {'class': 'custom-class'}}) }}
    </div>
    <div class="col">
        {{ form_row(form.adresse, {'attr': {'class': 'custom-class'}}) }}
    </div>
</div>

<div class="row">
    <div class="col">
        {{ form_row(form.email, {'attr': {'class': 'custom-class'}}) }}
    </div>
</div>

<div class="row">
    <div class="col">
        {{ form_row(form.datenaissance, {'attr': {'class': 'custom-class'}}) }}
    </div>
    <div class="col">
        {{ form_row(form.telephone, {'attr': {'class': 'custom-class','style': 'background-color: blue;'}}) }}
    </div>
</div>



<div class="row">

    <div class="col">
        {{ form_row(form.roles, {'attr': {'class': 'custom-class'}}) }}
    </div>
</div>

<button type="submit" class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
